.app-root {
  header {
    width: 100%;
    height: 80px;
    position: relative;

    h1 {
      font-weight: lighter;
      color: $color-white;
      padding-left: 16px;
      padding-top: 8px;
      text-align: center;
    }

    button.login {
      align-self: center;
      border: solid 1px $primary-color;
      background: $color-white;
    }
  }
}

.word {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    border-radius: 4px;
    background-color: $white;
    padding: 64px 96px;

    p {
      text-align: center;
      font-size: 32px;
      color: $foreground-color;
      padding-bottom: 24px;
    }
}

.input-text {
  .input-container {
    overflow: hidden;
  }

  input[type=text] {
    width: 100%;
    height: 48px;
    background-color: $transparent;
    border: none;
    font-size: 32px;
    border-bottom: solid 1px $primary-background; 

    &:focus {
      outline: none;
      border-bottom-color: $foreground-color;
    }
  }

  button {
    margin-left: 16px;
    font-size: 24px;
    font-weight: lighter;
    float: right;
  }
}

.input-artikel {
  &:focus {
    outline: none;
  }

  .col-sm-4:not(last-child) {
    margin-bottom: 8px;
  }

  button {
    span {
      margin-right: 24px;
      color: $primary-color;
    }
  }
}

.answer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-radius: 4px;
  background-color: $white;
  padding: 64px 96px;
  text-align: center;

  h2 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 16px;
    &.correct {
      color: green;
    }
    &.wrong {
      color: red;
    }
  }

  .header {
    font-size: 32px;
  }

  .props {
    margin-bottom: 16px;

    span.badge {
      margin-left: 8px;
    }
  }

  .props p {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
