.app-root {
  header {
    width: 100%;
    margin-bottom: 24px;

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: lighter;
        color: $color-white;
        padding-left: 8px;
        text-align: center;
      }
  
      > svg {
        fill: $color-white;
      }    
    }

    button.login {
      align-self: center;
      border: solid 1px $primary-color;
      background: $color-white;
    }
  }
}

@mixin card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-radius: 4px;
  background-color: $white;
}

.word {
    @include card;
    padding: 64px 96px;

    @include media-breakpoint-down(sm) {
      padding: 32px 48px;
    }

    p {
      text-align: center;
      font-size: 32px;
      color: $foreground-color;
      padding-bottom: 24px;
    }
}

.input-text {
  .input-container {
    overflow: hidden;
  }

  input[type=text] {
    width: 100%;
    height: 48px;
    background-color: $transparent;
    border: none;
    font-size: 32px;
    border-bottom: solid 1px $primary-background; 

    &:focus {
      outline: none;
      border-bottom-color: $foreground-color;
    }
  }

  button {
    margin-left: 16px;
    font-size: 24px;
    font-weight: lighter;
    float: right;
  }
}

.input-artikel {
  &:focus {
    outline: none;
  }

  .col-sm-4:not(last-child) {
    margin-bottom: 8px;
  }

  button {
    span {
      margin-right: 24px;
      color: $primary-color;
    }
  }
}

.answer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border-radius: 4px;
  background-color: $white;
  padding: 64px 96px;
  text-align: center;

  h2 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 16px;
    &.correct {
      color: green;
    }
    &.wrong {
      color: red;
    }
  }

  .header {
    font-size: 32px;
  }

  .props {
    margin-bottom: 16px;

    span.badge {
      margin-left: 8px;
    }
  }

  .props p {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.user-management {
  @include card;
  padding: 32px;

  h2 {
    margin-bottom: 16px;
  }

  button + button {
    margin-left: 16px;
  }
}

.user-button {
  display: flex;
  position: absolute;
  right: 15px;
  justify-content: center;
  align-items: center;

  > button {
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: $color-white;
    padding: 0;

    svg {
      color: $complementary-color;
      fill: $complementary-color;
      margin-top: 3px;
    }
  }

  .user-menu {
    position: absolute;
    top: 36px;
    right: 0px;
  }
}

.user-menu {
  @include card;
  border-top-right-radius: 0;
  padding: 8px 16px;

  &:after {
    position: absolute;
    top: -8px;
    right: 0;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent $color-white transparent;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    button {
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
    }

    li {
      padding: 0;
    }
  }
}

.user-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $transparent;
}
